*.log
QtProject*
rygel.conf
xmonad/.ghc*
EQCurves.xml
connections.db
pavucontrol.ini

go/
GIMP/
dconf/
pulse/
xfce4/
heroic/
pitivi/
rclone/
systemd/
composer/
gsconnect/
musikcube/
kdeconnect/
libreoffice/
qBittorrent/
github-copilot/
